<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Frequências</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
  {% include 'partials/header.html' %}

  <div class="container mt-5">
    <h2 class="mb-4">Frequências</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Pessoa</th>
          <!-- <th scope="col">Data</th> -->
          <th scope="col">Veículo</th>
          <th scope="col">Rota</th>
          <th scope="col">Presente</th>
        </tr>
      </thead>
      <tbody>
        {% for freq in frequencias %}
        <tr>
          <td>{{ freq.pessoa.nome }}</td>
          <!-- <td>{{ freq.data }}</td> -->
          <td>{{ freq.veiculo }}</td>
          <td>{{ freq.rota }}</td>
          <td>{% if freq.presente %}Sim{% else %}Não{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% include 'partials/footer.html' %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
