<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Transporte</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/">Transporte Escolar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link text-dark" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="/cidades/">Cidades</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="/pessoas/">Pessoas</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="/ocupacoes/">Ocupações</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="/veiculos/">Veículos</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="/tipo/">Tipo de Transporte</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="/rotas/">Rotas</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="/instituicoes/">Instituições</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="/frequencias/">Frequências</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="/horarios/">Horários</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="/ocorrencias/">Ocorrências</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="/gastos/">Gastos</a></li>
        <li class="nav-item"><a class="nav-link text-dark" href="/admin/">Administração</a></li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Bem-vindo ao Sistema de Transporte BIP</h1>
      <p class="lead">Gerencie pessoas, rotas, veículos e muito mais.</p>
      <hr class="my-4">
      <p>Use o menu acima para navegar pelas funcionalidades do sistema.</p>
    </div>
  </div>

<div class="row">
  <div class="col-md-4">
    <div class="bg-light p-2 border">
      <img src="https://png.pngtree.com/png-vector/20220107/ourlarge/pngtree-hand-drawn-cartoon-school-bus-going-to-kindergarten-png-image_4096985.png" class="card-img-top" alt="ônibus">
    </div>
  </div>
  <div class="col-md-4">
    <div class="bg-light p-2 border">
      <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/24636809-traco-rota-e-alfinete-cartografia-itinerario-desenho-animado-icone-vetor.jpg" class="card-img-top" alt="Rota">
    </div>
  </div>
  <div class="col-md-4">
    <div class="bg-light p-2 border">
      <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/23842276-escola-construcao-desenho-animado-ilustracao-em-isolado-fundo-vetor.jpg" class="card-img-top" alt="escola">
    </div>
  </div>
</div>
<br><br><br>
<div class="cartão">
  <div class="cabeçalho-de-cartão">
    Citação
  </div>
  <div class="carteirinha">
    <figure>
      <blockquote class="blockquote">
        <p>"O ser humano é aquilo que a educação faz dele."</p>
      </blockquote>
      <figcaption class="blockquote-rodapé">
       <cite title="Título Fonte" class="Título Fonte">Immanuel Kant</cite>
      </figcaption>
    </figure>
  </div>
</div>


  <!-- JS do Bootstrap e dependências -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
