<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Rotas</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
  {% include 'partials/header.html' %}

  <div class="container mt-5">
    <h2 class="mb-4">Rotas</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Cidade</th>
          <th scope="col">Bairro</th>
          <th scope="col">Instituição</th>
          <th scope="col">Veículo</th>
        </tr>
      </thead>
      <tbody>
        {% for rota in rotas %}
        <tr>
          <td>{{ rota.nome }}</td>
          <td>{{ rota.cidade }}</td>
          <td>{{ rota.bairro }}</td>
          <td>{{ rota.instituicao.nome }}</td>
          <td>{{ rota.veiculo }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% include 'partials/footer.html' %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
